<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="norwold.forms.Properties.Settings.norwold_runConnectionString"
            connectionString="Data Source=STEVE-PC\SQLEXPRESS;Initial Catalog=norwold-run;Persist Security Info=True;User ID=nwlogin;Password=nwlogin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
